"*":
  "autocomplete-plus":
    autoActivationDelay: 100
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "vim-mode-plus"
      "wrap-guide"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: false
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
      ".xlsx"
      ".png"
      ".jpg"
      ".jpeg"
      ".gz"
      ".zip"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "monokai"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Menlo"
    fontSize: 10
    invisibles: {}
    preferredLineLength: 200
    showIndentGuide: true
    softWrap: true
  "find-and-replace":
    scrollToResultOnLiveSearch: true
    searchContextLineCountAfter: 1
    searchContextLineCountBefore: 1
  "go-plus":
    panelDisplayMode: "closed"
  "linter-eslint":
    useGlobalEslint: true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  "tree-view":
    autoReveal: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
